#wop-tag {
    margin: 2px;
    padding: 2px;
    line-height: 24px;
    border-radius: 4px;
    background: linear-gradient(60deg,#ffa726,#fb8c00);
    box-shadow: 1px 1px silver;

    color: white;
    cursor: pointer;
}