<div id="wop-sign">
  <div align="left" class="wop-sign-top">
      <span id="wop-sign-logo">
          <app-logo [isBig]="false"></app-logo>
      </span>
  </div>

  <form action="/api/account/login" method="post">
    <h2>Log in to Word of promise</h2>
    or <span id="wop-to-create" (click)="onCreate()">create an account</span><br>
    <mat-form-field>
      <input matInput name= "id" placeholder="ID">
    </mat-form-field><br>
    <mat-form-field>
      <input matInput type="password" name="pw" placeholder="Password">
    </mat-form-field><br>
    <br>
    <button type="submit" mat-raised-button color="primary">Log In</button>
  </form>
</div>