@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');
#wop-container {
    font-family: 'Nanum Gothic', sans-serif;

    min-width: 200px;
    max-width: 600px;

    height: 100%;
}

#wop-bottom-wrapper {
    width: 100%;
}