<div>
    <div id="wop-wrapper" align="center">
        <div id="wop-header-wrapper">
            <app-header [logoVisible]="page !== 0"></app-header>
        </div>
        <div id="wop-container">
            <app-main *ngIf="page === 0"></app-main>
            <app-result *ngIf="page === 1" [searchWord]="searchWord"></app-result>
            <app-edit *ngIf="page === 2"></app-edit>
            <app-login *ngIf="page === 3"></app-login>
            <app-sign-up *ngIf="page === 4"></app-sign-up>
        </div>
        <br>
        <div id="wop-bottom-wrapper">
            <app-bottom></app-bottom>
            <app-adsense></app-adsense>
        </div>
    </div>
</div>