#wop-wrapper {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 14px;

    min-width: 200px;
    max-width: 600px;
}

#wop-header-wrapper {
    font-size: 12px;
}

#wop-container {
    height: 100%;
}

#wop-bottom-wrapper {
    font-size: 12px;
}
