<div id="wop-sign">
  <div align="left" class="wop-sign-top">
      <span id="wop-sign-logo">
          <app-logo [isBig]="false"></app-logo>
      </span>
  </div>

  <h2>Create your Account</h2>
  <mat-form-field>
    <input [(ngModel)]="id" matInput placeholder="Enter your id">
  </mat-form-field><br>
  <mat-form-field>
    <input matInput type="password" placeholder="Enter your password" [(ngModel)]="password">
  </mat-form-field><br>
  <mat-form-field>
    <input matInput type="password" placeholder="Confirm your password " [(ngModel)]="password_confirm">
  </mat-form-field><br><br>
  <button mat-raised-button color="primary" (click)="onSubmit()">Create New Account</button>
</div>