<div id="wop-sign">
  <div align="left" class="wop-sign-top">
      <span id="wop-sign-logo">
          <app-logo [isBig]="false"></app-logo>
      </span>
  </div>

  <h2>Create your Account</h2>
  <form>
    <mat-form-field>
      <input matInput placeholder="Enter your id">
    </mat-form-field><br>
    <mat-form-field>
      <input matInput type="password" placeholder="Enter your password">
    </mat-form-field><br>
    <mat-form-field>
      <input matInput type="password" placeholder="Confirm your password ">
    </mat-form-field>
  </form>
</div>