.wop-edit-top {
    margin-bottom: 20px;
}

#wop-edit-select {
    float: right;
}

.wop-select-book {
    width: 110px;

    font-size: 12px;
}

.wop-select-chapterAndVerse {
    width: 50px;

    font-size: 12px;
}