<div id="wop-edit">
    <div align="left">
        <span id="wop-edit-logo">
            <app-logo [isBig]="false"></app-logo>
        </span>
        <span id="wop-edit-select">
            <mat-form-field class="wop-select-size">
                <mat-select placeholder="성경 책명" [ngModel]="selectedBook" (ngModelChange)="updateSelectedBook($event)">
                    <mat-option *ngFor="let book of books" [value]="book">{{book}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="wop-select-size">
                <mat-select placeholder="장" [ngModel]="selectedChapter" (ngModelChange)="updateSelectedChapter($event)">
                    <mat-option *ngFor="let c of chapters" [value]="c">{{c}}장</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="wop-select-size">
                <mat-select placeholder="절" [ngModel]="selectedVerse" (ngModelChange)="updateSelectedVerse($event)">
                    <mat-option *ngFor="let v of verse" [value]="v">{{v}}절</mat-option>
                </mat-select>
            </mat-form-field>
        </span>
    </div>
    <div align="left">
        <app-word *ngIf="word !== undefined" [word]="word"></app-word>
    </div>
    <app-edit-tag *ngIf="word !== undefined" [word]="word" [tags]="word.getTagString()"></app-edit-tag>
</div>